extends layout.pug

block title
  title Create an Ordeal

block content
  div.column
    form(method='POST' action='/ordeal/create', enctype='multipart/form-data')
      div.form-group
        label(for='path') #[h4 Create the #[b #{path}] ordeal]
        input.hidden(type='text', readonly, value=path, name='path')
      div.form-group
        label(for='path') Add an image
        input(type='file', name='image')
      button.btn.btn-primary(type='submit') Create Ordeal