doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge;')
    block title
      title Everything is an Ordeal
    link(rel='stylesheet', href='milligram/milligram.min.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic')
    script(src='jquery/jquery.min.js', type='text/javascript')
  body
    div.container.ordeal-container
      div.row
        block content