extends layout.pug

block title
  title Top Ordeals

block content
  div.column
  div.column
    h1 Top Ordeals
    table
      thead
      tr
        th Ordeal
        th Hits
      each val in data
        tr
          td
            a(href='/' + val.path) #{val.path}
          td=val.hits
  div.column